:root {
  --primary-color: #ffeed4;
  --secondary-color: rgb(223, 72, 22);
  --crimson: rgb(197, 52, 52);
  --a_color: rgb(177, 66, 103);
  --a_active: rgb(252, 92, 0);
  --button_bckg-color: rgb(197, 52, 52);
  --border-bottom-color: rgba(0, 0, 0, 0.3);
  --color-change-from: rgb(40.39917%, 77.598572%, 70.999146%);
  --color-change-to: rgb(97.999573%, 66.299438%, 25.099182%);
  --bold_font-weight: 700;
  --h1_font_size: xx-large;
  --form_background: salmon;
}

body {
  background-color: var(--primary-color);
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  font-size: large;
  line-height: normal;
  text-align: justify;
}

.body3,
.body4 {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: var(--h1_font_size);
  font-weight: var(--bold_font-weight);
  text-align: center;
}

.exeption {
  text-align: left;
}

p.intro {
  text-align: justify;
  margin: 10px;
  text-indent: 20px;
  line-height: 1.8em;
  padding-right: 10px;
}

p {
  line-height: 1.6em;
}

p.ex {
  line-height: 0;
}

.homeh2 {
  margin-right: 15px;
  text-align: justify;
}

h2 {
  font-size: large;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-size: small;
  font-weight: var(--bold_font-weight);
  font-variant: small-caps;
}

a {
  color: var(--a_color);
}

a:visited {
  color: var(--crimson);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--a_active);
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile_portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.clear {
  clear: both;
  text-align: center;
}

.profile {
  max-width: 750px;
  margin: 0 auto;
}

nav {
  position: relative;
}

.page-header__item {
  width: 250px;
  height: 90px;
  border-radius: 5%;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

section {
  display: block;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
  }
}

.grid__item {
  background-color: white;
  width: auto;
  min-height: auto;
  margin: 0;
  padding: 10px;
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

.contact {
  text-align: center;
}

.form {
  text-align: center;
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--button_bckg-color);
  color: #ffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--border-bottom-color);
  transition-duration: 0.9s;
  transition-property: opacity;
  margin-left: 15em;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: grab;
  opacity: 0.8;
}

h1 {
  font-size: var(--h1_font_size);
}

@keyframes colour-change {
  from {
    fill: var(--color-change-from);
  }

  to {
    fill: var(--color-change-to);
  }
}

.circle {
  animation: colour-change 2s linear infinite alternate;
}

@keyframes cloud-move {
  from {
    transform: translate(-200px, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud {
  animation: cloud-move 15s linear infinite alternate;
}

@keyframes balloon_move {
  from {
    transform: translate(-80px, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.balloon {
  animation: balloon_move 15s linear infinite alternate;
}

@keyframes baloon_move {
  from {
    transform: translate(-75px, 50px);
  }

  to {
    transform: translate(45px, 50px);
  }
}

.baloon_2 {
  animation: baloon_move 15s linear infinite alternate;
}

@keyframes bus_move {
  from {
    transform: translate(50px, 0);
  }

  to {
    transform: translate(-800px, 0);
  }
}

.bus {
  animation: bus_move 5s linear infinite normal;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 16px;
  background: var(--form_background);
  background-size: cover;
  padding: 2em;
  border: 1px double lightgray;
  max-width: 550px;
  margin: 0 auto;
  border-radius: 5%;
}

.standard-label {
  grid-column: 1 / 2;
  text-align: right;
}

.standard-input {
  grid-column: 2 / 3;
  width: 350px;
}

.submit-input {
  grid-column: 2/3;
  width: 150px;
  margin-left: 4em;
}

.textarea {
  height: 120px;
}

.contact {
  text-align: center;
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .body3,
  .body4 {
    background-image: none;
  }

  .about_pic {
    width: 400px;
    height: auto;
  }

  .intro {
    text-align: justify;
    margin: 5px;
    text-indent: 10px;
    line-height: 1.2em;
    padding-right: 10px;

  }

  form {
    max-width: 400px;
    background-size: cover;
  }

  .standard-input {
    grid-column: 2/3;
    width: 200px;
  }
  
  .submit-input {
    grid-column: 2/3;
    width: 100px;
    margin-left: 1em;
  }

  .button {
    margin: 0 auto;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .body3,
  .body4 {
    background-image: none;
  }

  .about_pic {
    width: 500px;
    height: auto;
  }

  form {
    max-width: 600px;
  }

  .standard-input {
    grid-column: 2 / 3;
    width: 300px;
  }
  
  .submit-input {
    grid-column: 2/3;
    width: 150px;
    margin-left: 1em;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  .profile_portrait {
    float: none;
    width: 150px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .button {
    margin: 0 9em;
  }

  .intro {
    text-align: justify;
    margin: 10px;
    text-indent: 15px;
    line-height: 1.2em;
    padding-right: 10px;
  }

}
